@keyframes slideIn {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}

@keyframes slideLeft {
    0% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}

.slideLeft {
    animation-name: slideLeft;
    animation-duration: 0.4s;
}

.slideIn {
    animation-name: slideIn;
    animation-duration: 0.4s;
}

* {
    box-sizing: border-box;
    margin: auto;
}

.whiteBg {
    background-color: #FFFFFF;
}

body {
    position: relative;
    max-width: 375px;
    height: 812px;
    /* for browsers that don't support gradient */
    background-color: #34C7A0;
    background-image: linear-gradient(152deg, #34C7A0, #008AA2);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    border-radius: 28px;
    width: 340px;
    height: 117px;
    margin-top: 20px;
    /* transition to match animations */
    transition: all 0.3s;
}

/* used float:left to align back button and text in header */

#backBtn {
    display: none;
    width: 40px;
    height: 40px;
    float: left;
    margin: 40px 0px 40px 0px;
}

#backBtn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

#title {
    color: #00B6A3;
    font-size: 34px;
    letter-spacing: 0.48px;
    font-weight: bold;
    padding: 24px 24px 0px 27px;
    float: left;
}

#subtitle {
    color: #898694;
    font-size: 16px;
    letter-spacing: 0.24px;
    font-weight: 500;
    padding: 10px 27px 0px 27px;
    float: left;
}

/* style for changing opacity of header element */

.lowOpacity {
    background-color: rgba(255, 255, 255, 0.25);
}

#header .whiteText {
    color: #FFFFFF;
}

#week {
    display: flex;
    margin: 25px auto;
    width: 340px;
}

.day {
    height: 60px;
    width: 60px;
    border-radius: 23px;
    text-align: center;
    font-size: 17px;
    color: #FFFFFF;
    opacity: 0.7;
    letter-spacing: 0.24px;
    padding: 11px;
    font-weight: 500;
    transition: all .2s;
}

.day:hover {
    opacity: 1;
    cursor: pointer;
}

.day:active {
    transform: scale(1.1);
}

.dayActive {
    background-color: rgba(255, 255, 255, 1);
    color: #00B6A3;
    opacity: 1;
}

/*             




Data review for the whole week 




*/

#home {
    position: relative;
    display: block;
}

#avgActivity {
    width: 340px;
    height: 184px;
    border-radius: 28px;
}

#home table {
    padding: 25px 0px 0px 27px;
    float: left;
}

#home table td {
    color: white;
    padding-left: 15px;
    font-weight: 500;
}

.firstRow {
    font-size: 20px;
    letter-spacing: 0.48px;
}

.secondRow {
    font-size: 16px;
    letter-spacing: 0.3px;
    opacity: 0.7;
}

/* sets all images in home div */

#home img {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 7px;
    border-radius: 50%;
    color: #FFFFFF;
}

#avgTime {
    text-align: center;
    padding-top: 20px;
    clear: both;
}

/* same style for all data*/

#avgTime, #totalSteps, #numOfCalories, #avgKm {
    font-size: 38px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.91px;
}

#totalSteps, #calBurned, #avgDistance {
    width: 340px;
    height: 93px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 28px;
    margin: 25px auto;
}

#numOfSteps, #numOfCalories, #avgKm {
    float: right;
    line-height: 93px;
    padding-right: 30px;
}

/*            




Detailed information about one day 




*/

#dayDetails {
    display: none;
    width: 340px;
    height: 555px;
    border-radius: 28px 28px 0px 0px;
    /* fix for #dailySteps margin */
    overflow: hidden;
    text-align: center;
    position: relative;
}

#dailySteps {
    width: 231px;
    height: 231px;
    border: 8px solid #00B6A3;
    border-radius: 50%;
    margin-top: 40px;
}

#dailySteps img {
    background-color: rgba(0, 182, 164, 0.25);
    padding: 7px;
    border-radius: 50%;
    margin-top: 28px;
}

#dailySteps>p {
    font-size: 20px;
    letter-spacing: 0.6px;
}

#dailySteps #numDailySteps {
    font-size: 48px;
    letter-spacing: 1.15px;
    font-weight: bold;
}

#message1 {
    font-size: 20px;
    letter-spacing: 0.6px;
    margin-top: 30px;
}

#message2 {
    font-size: 40px;
    letter-spacing: 0.96px;
    font-weight: bold;
}

.detailsTable {
    position: absolute;
    bottom: 30px;
    width: 100%;
    border-collapse: collapse;
}

.detailsTable th {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.54px;
    color: #B3B3B3;
    border-left: 1px solid #B3B3B3;
    width: 33%;
}

.detailsTable td {
    font-size: 40px;
    letter-spacing: 0.96px;
    color: #00B6A3;
    font-weight: bold;
    border-left: 1px solid #B3B3B3;
}

/* removes border from far left */

.detailsTable .noBorder {
    border-left: none;
}